#header {
width: 100%;
background: url('../img/header-bg.png');
height: 100px;
position: fixed;
margin-top: 0px;
}
#nav { width: 410px; float: right; margin-top: -125px; }
#logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 10px; color: #fff; font-family:"Wellfleet"; font-weight: bold; }
#nav ul{
list-style: none;
display: block;
margin: 0 auto;
list-style: none;
}
#nav li{
margin-top: 0px;
float: left;
padding-left: 65px;
}
#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Wellfleet'; }
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1; }

body{
margin: 0;
padding: 0;
width: 100%;
}
h1 {
font-family:"Arvo";
font-weight:bolder;
font-size: 160px;
text-align: center;
color: #000;
margin: 50;
padding: 0;
}
h2 {
font-family:"Oswald";
font-weight: bolder;
font-size: 35px;
text-align: center;
color: #000;
margin: 0;
padding: 0;
}
h3 {
font-family: "Oswald";
font-weight: normal;
font-size: 16px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}
.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

.quotes {
font-family: 'Goudy Bookletter 1911', serif;
font-weight: normal;
font-size: 30px;
text-align: left;
margin: 50px auto;
}

 .author_name_white { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #fff; font-size: 20px; } 
 .author_name_gray { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; } 

 .quotes_container { width: 800px; margin: 0 auto; }

#home, #slide2{ width: 100%; }
#home{
background:linear-gradient(to bottom, rgba(0,0,500,.15), rgba(0,50,150,.45)),url('../img/slide1.png') 50% 0 no-repeat fixed;
color: #fff;
height: 600px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#slide2{
background-color: #fff;
color: #333333;
height: 175px;
margin: 0 auto;
overflow: hidden;
padding: 100px 0;
}
#slide3{
background:linear-gradient(to bottom, rgba(0,0,0,.15), rgba(0,50,0,.75)),url('../img/slide3.png') 50% 0 no-repeat fixed;
color: #fff;
height: 600px;
padding: 170px 0 0 0;
background-size: cover;
}
#slide4{
background-color: #fff;
color: #333333;
height: 500px;
padding: 75px 0;
    }
#footer{
background: url(../img/slide5.png) 50% 0 no-repeat fixed;
height: 100px;
margin: 0 auto;
padding: 50px 0;
color: #fff;
background-size: cover;
}
#logo{ 
    display:flex;
    justify-content:center;
    align-items:center;
    
    
       
    
        
    
}
